<div>
    <h2 id="page-heading">
        <span jhiTranslate="microAppsApp.employeeInfo.home.title">Employee Infos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee-info" [routerLink]="['/employee-info/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="microAppsApp.employeeInfo.home.createLabel">
            Create a new Employee Info
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="employeeInfos?.length === 0">
        <span jhiTranslate="microAppsApp.employeeInfo.home.notFound">No employeeInfos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="employeeInfos && employeeInfos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="empName"><span jhiTranslate="microAppsApp.employeeInfo.empName">Emp Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="designation"><span jhiTranslate="microAppsApp.employeeInfo.designation">Designation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobile"><span jhiTranslate="microAppsApp.employeeInfo.mobile">Mobile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dob"><span jhiTranslate="microAppsApp.employeeInfo.dob">Dob</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remarks"><span jhiTranslate="microAppsApp.employeeInfo.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employeeInfo of employeeInfos ;trackBy: trackId">
                    <td><a [routerLink]="['/employee-info', employeeInfo.id, 'view']">{{ employeeInfo.id }}</a></td>
                    <td>{{ employeeInfo.empName }}</td>
                    <td>{{ employeeInfo.designation }}</td>
                    <td>{{ employeeInfo.mobile }}</td>
                    <td>{{ employeeInfo.dob | date:'mediumDate' }}</td>
                    <td>{{ employeeInfo.remarks }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/employee-info', employeeInfo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/employee-info', employeeInfo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(employeeInfo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="employeeInfos && employeeInfos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
